.container{
    margin: 10px;
    border-radius: 20px;    
    width: 50vh;
    height: 20vh;
    background: rgba(255, 255, 255, 0.16);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.267);
    backdrop-filter: blur(13.4px);
    -webkit-backdrop-filter: blur(13.4px);
}
.container .titulo h1{
    background-color: #1d2d44;
    text-align: center;
    color: white;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    text-transform: uppercase;
    font-weight: 300;
}
.container .inside{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 13vh;
    gap: 10px;
}
.container .inside button{
    background-color: #1d2d44;
    font-size: 20px;
    padding: 4px;
    border: none;
    color: white;
    border-radius: 3px;
    transition: 0.3s;
}
.container .inside button:hover{
    background-color: white;
    color: black;
    border-radius: 0;
    -webkit-box-shadow:0px 0px 103px 0px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 103px 0px rgba(255,255,255,1);
    box-shadow: 0px 0px 103px 0px rgba(255,255,255,1);

}
.container .inside input{
    border-radius: 3px;
    font-size: 24px;
    border: none;
}