.navbar{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #423E37;
}

.navbar a{
    color: #E3B23C;
    text-transform: uppercase;
    padding: 12px;
    font-size: 12px;
}

.bottom{
    display: flex;
    justify-content: center;
}