div{
    background-color:  #011627;
    align-items: center;
    font-size: 10px;
    text-transform: uppercase;
    padding: 1px;
    opacity: 100%;

}
div h1{
    color: white;
    width: 42vh;
    align-items: center;
    padding: 10px;
    border-radius: 100px;
}