.navbar{
    background-color: #0d1321;
}
.navbar h1{
    color: white;
    text-transform: uppercase;
    padding: 5px;
    font-size: 22px;
}

.navbar a{
    margin-top: 8px;
    color: white;
    text-transform: uppercase;
    padding: 5px;
    font-size: 12px;
}

.titulo{
    display: flex;
    justify-content: space-between;
}